<ul class="list-group mt-5" *ngIf="loaded && logs.length > 0">
  <li
    [class.list-group-item-secondary]="selectedLog === log"
    *ngFor="let log of logs"
    class="list-group-item d-flex justify-content-between align-items-center"
  >
    <a href="#" (click)="onSelect(log)"> {{ log.text }} </a>
    <span class="log-date"> {{ log.date | date: "short" }} </span>
    <!-- The date pipe above is the inbuilt func in angular so just use it by putting a pipe and define a short in date -->
    <i (click)="onDelete(log)" class="fa fa-remove"></i>
  </li>
</ul>

<div *ngIf="logs.length == 0">
  <h5 class="text-color">There are no logs in the system</h5>
</div>

<div *ngIf="!loaded">
  <h5>Loading..........</h5>
</div>
