<div class="card card-body">
  <form (ngSubmit)="onSubmit()">
    <div class="form-group">
      <input
        type="text"
        name="text"
        [(ngModel)]="text"
        placeholder="Add A Log"
        class="form-control"
      />
      <!-- The ng model defined above for text will bind the input to the text property coming from component and it will change the value of input as per the text porperty coming from the module. -->
    </div>
    <input
      type="submit"
      value="Add Log"
      class="btn btn-sm btn-light"
      [disabled]="!this.text"
    />
    <button
      class="btn btn-sm btn-warning ml-3"
      [hidden]="!this.text"
      type="button"
      (click)="clearState()"
    >
      Clear
    </button>
  </form>
</div>
